<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Benjamin Portfolio{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
</head>

<body>
    <section>
{% block header %}
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img class="brand" src="{{ url_for('static', filename='images/bm-img.jpg') }}" alt="bm-img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if page == 'home': %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{url_for('python')}}">Python Projects</a></li>
                                <li><a class="dropdown-item" href="{{url_for('machine_learning')}}">ML Models</a></li>
                            </ul>
                        </li>
                        {% elif page == 'python': %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('machine_learning')}}">ML Models</a></li>
                        {% else: %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('python')}}">Python Projects</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link move-to" href="{{url_for('download')}}">Download CV</a></li>
                        <li class="nav-item"><a class="nav-link move-to" href="https://documenter.getpostman.com/view/30513205/2s9YXe63wV" target="_blank">API Documentation</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}
    </section>

    <section>
    {% block content %}{% endblock %}
    </section>

    <section>
        {% block footer %}
        <div class="container">   
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-body-secondary">© MoxyTech {{date}}</p>
                <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img class="brand" src="{{ url_for('static', filename='images/bm-img.jpg') }}" alt="bm-img">
                </div>
            </footer>
        </div>
        {% endblock %}
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
</body>

</html>
