{% extends 'base.html' %}
{% block content %}
{% if page == 'python' %}
<br>
<div class="container text-center">
    <h1 class="heading" style="color: #E1AA74;">Completed Python Projects</h1>
</div>
{% elif page == 'ml' %}
<br>
<div class="container text-center">
    <h1 class="heading" style="color: #E1AA74;">Developed ML Models</h1>
</div>
{% endif %}

<div class="container text-center">
    <hr>
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/projects.jpg') }}" alt="benjamin's-pic" class="more-img">
        </div>

        <div class="col-sm-7">
            {% for i in projects: %}
            <div class="all-sent-projects">
                <h2 class="project-title">{{ i.title }}</h2>
                <p class="project-pg">{{ i.description }}</p>
                <a href="{{ i.github_url }}"  class="btn btn-primary project-btn" type="submit" target="_blank">
                    <img src="{{ url_for('static', filename='svg/github.svg') }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}